<!-- TABLA -->
<div class="container" id="tabla-standart">
    <h1>LISTADO DE CALIFICACIONES Y RETROALIMENTACIONES</h1>

    <h6>Filtrar por:</h6>

    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Id o nombre del Docente" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Docente</button>
        </form>
      </nav>
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Id o nombre Materia" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Materia</button>
        </form>
      </nav>

    <a class="navbar-brand" href="#" style="font-size: 18px;">Descargue listado Notas          

    </a>

    <table class="table table-striped" style="margin-top:2%">
        <thead>
        <tr>                
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Id Materia</th>
            <th scope="col">Materia</th>
            <th scope="col">Id Actividad</th>
            <th scope="col">Actividad</th>
            <th scope="col">Id Estudiante</th>
            <th scope="col">Estudiante</th>
            <th scope="col">Calificacion</th>
            <th scope="col">Retroalimentacion</th>
        </tr>
        </thead>
        <tbody id="datavendedor">
            <tr>           
                <th scope='row'>
                <button type='button' class='btn btn-success' data-toggle='modal' data-target='#modalVendedor' >EDITAR</button></th>
                <td><button type='button' class='btn btn-danger' >ELIMINAR</button></td>   
                <td>00001A</td>
                <td>Geografia</td>
                <td>AG001</td>
                <td>Ubicar las coordenadas dadas dentro de un mapa</td>
                <td>78945</td>
                <td>Pedro Portones</td>
                <td>5.0</td>
                <td>Excelente trabajo ubico todas las cordenadas solicitadas</td>
            </tr>
        </tbody>
        <tbody id="datavendedor">
            <tr>           
                <th scope='row'>
                <button type='button' class='btn btn-success' data-toggle='modal' data-target='#modalVendedor' >EDITAR</button></th>
                <td><button type='button' class='btn btn-danger' >ELIMINAR</button></td>   
                <td>00001A</td>
                <td>Geografia</td>
                <td>AG001</td>
                <td>Ubicar las coordenadas dadas dentro de un mapa</td>
                <td>78945</td>
                <td>Pedro Portones</td>
                <td>5.0</td>
                <td>Excelente trabajo ubico todas las cordenadas solicitadas</td>
            </tr>
        </tbody>
        <tbody id="datavendedor">
            <tr>           
                <th scope='row'>
                <button type='button' class='btn btn-success' data-toggle='modal' data-target='#modalVendedor' >EDITAR</button></th>
                <td><button type='button' class='btn btn-danger' >ELIMINAR</button></td>   
                <td>00001A</td>
                <td>Geografia</td>
                <td>AG001</td>
                <td>Ubicar las coordenadas dadas dentro de un mapa</td>
                <td>78945</td>
                <td>Pedro Portones</td>
                <td>5.0</td>
                <td>Excelente trabajo ubico todas las cordenadas solicitadas</td>
            </tr>
        </tbody>
        <tbody id="datavendedor">
            <tr>           
                <th scope='row'>
                <button type='button' class='btn btn-success' data-toggle='modal' data-target='#modalVendedor' >EDITAR</button></th>
                <td><button type='button' class='btn btn-danger' >ELIMINAR</button></td>   
                <td>00001A</td>
                <td>Geografia</td>
                <td>AG001</td>
                <td>Ubicar las coordenadas dadas dentro de un mapa</td>
                <td>78945</td>
                <td>Pedro Portones</td>
                <td>5.0</td>
                <td>Excelente trabajo ubico todas las cordenadas solicitadas</td>
            </tr>
        </tbody>
        <tbody id="datavendedor">
            <tr>           
                <th scope='row'>
                <button type='button' class='btn btn-success' data-toggle='modal' data-target='#modalVendedor' >EDITAR</button></th>
                <td><button type='button' class='btn btn-danger' >ELIMINAR</button></td>   
                <td>00001A</td>
                <td>Geografia</td>
                <td>AG001</td>
                <td>Ubicar las coordenadas dadas dentro de un mapa</td>
                <td>78945</td>
                <td>Pedro Portones</td>
                <td>5.0</td>
                <td>Excelente trabajo ubico todas las cordenadas solicitadas</td>
            </tr>
        </tbody>
        <tbody id="datavendedor">
            <tr>           
                <th scope='row'>
                <button type='button' class='btn btn-success' data-toggle='modal' data-target='#modalVendedor' >EDITAR</button></th>
                <td><button type='button' class='btn btn-danger' >ELIMINAR</button></td>   
                <td>00001A</td>
                <td>Geografia</td>
                <td>AG001</td>
                <td>Ubicar las coordenadas dadas dentro de un mapa</td>
                <td>78945</td>
                <td>Pedro Portones</td>
                <td>5.0</td>
                <td>Excelente trabajo ubico todas las cordenadas solicitadas</td>
            </tr>
        </tbody>
        <tbody id="datavendedor">
            <tr>           
                <th scope='row'>
                <button type='button' class='btn btn-success' data-toggle='modal' data-target='#modalVendedor' >EDITAR</button></th>
                <td><button type='button' class='btn btn-danger' >ELIMINAR</button></td>   
                <td>00001A</td>
                <td>Geografia</td>
                <td>AG001</td>
                <td>Ubicar las coordenadas dadas dentro de un mapa</td>
                <td>78945</td>
                <td>Pedro Portones</td>
                <td>5.0</td>
                <td>Excelente trabajo ubico todas las cordenadas solicitadas</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn"  style="background: #4eb3d2;color:white;border: 1px solid #fbd3df;" data-toggle="modal" data-target="#modalVendedor" onclick="Nuevo()">Calificar</button>

    <div class="modal fade" id="modalVendedor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Informacion Superusuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>  
                    <div class="form-group">
                        <label for="firstname" class="col-form-label">Id:</label>
                        <input title="El nombre no puede superar 15 caracteres" type="text" class="form-control" id="firstname" >
                    </div>                      
                    <div class="form-group">
                        <label for="firstname" class="col-form-label">Nombre:</label>
                        <input title="El nombre no puede superar 15 caracteres" type="text" class="form-control" id="firstname" onchange="validar()" onfocus="validar()">
                    </div>

                    <div class="form-group">
                        <label for="lastname" class="col-form-label">Apellido:</label>
                        <input type="text" class="form-control" id="lastname" onchange="validar()" onfocus="validar()">
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="text" class="form-control" id="email" onchange="validar()" onfocus="validar()">
                    </div>                        

                    <div class="form-group">
                        <label for="telephone" class="col-form-label">Telefono:</label>
                        <input type="text" class="form-control" id="telephone" onchange="validar()" onfocus="validar()">
                    </div>

                    <div class="form-group">
                        <label for="address" class="col-form-label">Dirección:</label>
                        <input type="text" class="form-control" id="address" onchange="validar()" onfocus="validar()">
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">                    
                <button id="btnGuardar" type="button" class="btn btn-primary" data-dismiss="modal" >Guardar</button>
                <button id="btnModificar" type="button" class="btn btn-success" data-dismiss="modal" >Modificar</button>                  
            </div>
        </div>
        </div>
    </div>
</div>
<!-- END TABLA -->