{% extends 'base.html' %}
{% block extras %}
    <!-- Sweetalert--> 
    <link data-require="sweet-alert@*" data-semver="0.4.2" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />

    <!-- Otros links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <!-- Other CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tablas.css') }}">
{% endblock %}

{% block title %}
    Crear Usuario
{% endblock %}

{% block contenido %}
<div class="container" style="padding-top: 1.5%; display: flex; justify-content: space-around;" >
    <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h2 class="card-title">CREAR USUARIO</h2>

          {% if ErrorValidacion %}
          <div class="form-group">
             <span style="font-size: 14px; color: red;">{{ ErrorValidacion }}</span>
          </div>
          {% endif %}

          <form action="{{ url_for('crearUsuario') }}" method="POST" novalidate>
             {{ form.csrf_token }}

             <div class="form-group">
                {{ form.rol_id.label }}
                {{ form.rol_id(class="custom-select", style="font-size: 14px;")}}
             </div> 

             <div class="form-group">
                {{ form.idUsuario.label }}
                {{ form.idUsuario(class="form-control", style="font-size: 14px;")}}
                {% if form.idUsuario.errors %}
                <span style="font-size: 14px; color: red;">{{ mensajeError }}</span>
                {% endif %}
             </div>    
                  
             <div class="form-group">
                {{ form.nombreUsuario.label }}
                {{ form.nombreUsuario(class="form-control", style="font-size: 14px;")}}
                {% if form.nombreUsuario.errors %}
                <span style="font-size: 14px; color: red;">{{ mensajeError }}</span>
                {% endif %}
             </div>

             <div class="form-group">
                {{ form.apellidoUsuario.label }}
                {{ form.apellidoUsuario(class="form-control", style="font-size: 14px;")}}
                {% if form.apellidoUsuario.errors %}
                <span style="font-size: 14px; color: red;">{{ mensajeError }}</span>
                {% endif %}
             </div>

             <div class="form-group">
                {{ form.correoUsuario.label }}
                {{ form.correoUsuario(class="form-control", style="font-size: 14px;")}}
                {% if form.correoUsuario.errors %}
                <span style="font-size: 14px; color: red;">{{ mensajeError }}</span>
                {% endif %}
             </div>                        

             <div class="form-group">
                {{ form.telefonoUsuario.label }}
                {{ form.telefonoUsuario(class="form-control", style="font-size: 14px;")}}
                {% if form.telefonoUsuario.errors %}
                <span style="font-size: 14px; color: red;">{{ mensajeError }}</span>
                {% endif %}
             </div>

             <div class="form-group">
                {{ form.direccionUsuario.label }}
                {{ form.direccionUsuario(class="form-control", style="font-size: 14px;")}}
                {% if form.direccionUsuario.errors %}
                <span style="font-size: 14px; color: red;">{{ mensajeError }}</span>
                {% endif %}
             </div>

             <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control", style="font-size: 14px;")}}
                {% if form.password.errors %}
                <span style="font-size: 14px; color: red;">{{ mensajeError }}</span>
                {% endif %}
             </div>

             <div class="form-group">
                {{ form.confirmarPassword.label }}
                {{ form.confirmarPassword(class="form-control", style="font-size: 14px;")}}
                {% if form.confirmarPassword.errors %}
                <span style="font-size: 14px; color: red;">{{ mensajeError }}</span>
                {% endif %}
             </div>

             {{ form.btnSubmit(value='Guardar', class='btn btn-lg btn-primary') }}
             <a id="btnCalificar" class="btn btn-lg btn-danger" href="{{url_for('adminUsuario')}}" role="button">Cancelar</a>
        </form>
      </div>             
  </div>
</div>

{% endblock %}
