<!-- TABLA MATERIAS -->
<div class="container" id="tabla-standart">
    <h1>LISTADO Y ADMINISTRADOR DE MATERIAS</h1>

    <a class="navbar-brand" href="#" style="font-size: 18px;">Descargue listado de materias          

    </a>

    <table class="table table-striped" style="margin-top:2%">
        <thead>
        <tr>                
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Id Materia</th>
            <th scope="col">Materia</th>
        </tr>
        </thead>
        <tbody id="datavendedor">
            <tr>           
                <th scope='row'>
                    <a id="btnCalificar" class="btn btn-success" href="{{url_for('editarMateria')}}" role="button">EDITAR</a></th>
                <td><button type='button' class='btn btn-danger' >ELIMINAR</button></td>   
                <td>00001A</td>
                <td>Geografia</td>
            </tr>
        </tbody>
    </table>
    <a id="btnCalificar" class="btn btn-primary" href="{{url_for('crearMateria')}}" role="button">Crear Materia</a>
</div>
<!-- END TABLA -->