<!-- TABLA DOCENTE -->
<div class="container" id="tabla-standart">
    <h1>LISTADO Y ADMINISTRADOR DE DOCENTES</h1>

    <h6>Filtrar por:</h6>

    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Id o nombre del Docente" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Docente</button>
        </form>
      </nav>
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Id o nombre de Materia" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Materia</button>
        </form>
      </nav>

    <a class="navbar-brand" href="#" style="font-size: 18px;">Descargue listado de docentes</a>

    <table class="table table-striped" style="margin-top:2%">
        <thead>
        <tr>                
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Id Docente</th>
            <th scope="col">Docente</th>
            <th scope="col">Id Materia</th>
            <th scope="col">Materia Asignada</th>
        </tr>
        </thead>
        <tbody id="datavendedor">

          {% if listaDocentes %}
          {% if listaMaterias %}
            {% for doc in listaDocentes %}
            {% for mat in listaMaterias %}

            <tr>           
                <th scope='row'>
                    <a id="btnCalificar" class="btn btn-success" href="{{url_for('editarDocente', idUsuario=doc.idUsuario)}}" role="button">EDITAR</a></th>
                <td><a id="btnCalificar" class="btn btn-danger" href="#" role="button">ELIMINAR</a></td> 
                <td>{{ doc.idUsuario}}</td>
                <td>{{ doc.nombreUsuario}}</td>
                <td>{{ mat.idMateria }}</td>
                <td>{{ mat.nombreMateria }}</td>
            </tr>
              {% endfor %}
              {% endfor %}
            {% endif %}
            {% endif %}
        </tbody>
    </table>
</div>
<!-- END TABLA -->