<!-- TABLA USUARIOS -->
<div class="container" id="tabla-standart">
    <h1>LISTADO Y ADMINISTRADOR DE USUARIOS</h1>

    <h6>Filtrar por:</h6>

    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Ingrese un Rol" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Rol</button>
        </form>
      </nav>
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Id o nombre del usuario" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Usuario</button>
        </form>
      </nav>

    <a class="navbar-brand" href="#" style="font-size: 18px;">Descargue listado de usuarios         

    </a>

    <table class="table table-striped" style="margin-top:2%">
        <thead>
        <tr>                
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Id usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefono</th>
            <th scope="col">Direccion</th>
            <th scope="col">Rol</th>
        </tr>
        </thead>
        <tbody id="datavendedor">

          {% if listaUsuarios %}
            {% for item in listaUsuarios %}
          
            <tr>           
                <th scope='row'>
                    <a id="btnCalificar" class="btn btn-success" href="{{url_for('editarUsuario')}}" role="button">EDITAR</a></th>
                <td><a id="btnCalificar" class="btn btn-danger" href="{{url_for('eliminarUsuario', idUsuario=item.idUsuario )}}" role="button">ELIMINAR</a></td>   
                <td>{{ item.idUsuario }}</td>
                <td>{{ item.nombreUsuario }}</td>
                <td>{{ item.apellidoUsuario }}</td>
                <td>{{ item.correoUsuario }}</td>
                <td>{{ item.telefonoUsuario }}</td>
                <td>{{ item.direccionUsuario }}</td>
                {% if item.rol_id == 1 %}
                  <td>Docente</td>
                  {% endif %}
                {% if item.rol_id == 2 %}
                  <td>Estudiante</td>
                {% endif %}
                {% if item.rol_id == 3 %}
                  <td>Administardor</td>
                {% endif %}
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
    </table>
    <a id="btnCalificar" class="btn btn-primary" href="{{url_for('crearUsuario')}}" role="button">Crear Usuario</a>
</div>
<!-- END TABLA -->