<!-- TABLA DOCENTE -->
<div class="container" id="tabla-standart">
    <h1>LISTADO Y ADMINISTRADOR DE ESTUDIANTES</h1>

      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Id o nombre del Estudiante" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Estudiante</button>
        </form>
      </nav>

    <a class="navbar-brand" href="#" style="font-size: 18px;">Descargue listado de docentes</a>

    <table class="table table-striped" style="margin-top:2%">
        <thead>
        <tr>                
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Id Estudiante</th>
            <th scope="col">Estudiante</th>
            <th scope="col">Id Materia</th>
            <th scope="col">Materia Asignada</th>
        </tr>
        </thead>
        <tbody id="datavendedor">
            <tr>           
                <th scope='row'>
                    <a id="btnCalificar" class="btn btn-success" href="{{url_for('editarEstudiante')}}" role="button">EDITAR</a></th>
                <td><button type='button' class='btn btn-danger' >ELIMINAR</button></td>   
                <td>146546</td>
                <td>Jose Perez</td>
                <td>00012A</td>
                <td>Geografia</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- END TABLA -->