<!-- TABLA USUARIOS -->
<div class="container" id="tabla-standart">
    <h1>LISTADO Y ADMINISTRADOR DE USUARIOS</h1>

    <h6>Filtrar por:</h6>

    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Ingrese un Rol" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Rol</button>
        </form>
      </nav>
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Id o nombre del usuario" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Usuario</button>
        </form>
      </nav>

    <a class="navbar-brand" href="#" style="font-size: 18px;">Descargue listado de usuarios         

    </a>

    <table class="table table-striped" style="margin-top:2%">
        <thead>
        <tr>                
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Id usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefono</th>
            <th scope="col">Direccion</th>
            <th scope="col">Rol</th>
        </tr>
        </thead>
        <tbody id="datavendedor">
            <tr>           
                <th scope='row'>
                    <a id="btnCalificar" class="btn btn-success" href="{{url_for('editarUsuario')}}" role="button">EDITAR</a></th>
                <td><button type='button' class='btn btn-danger' >ELIMINAR</button></td>   
                <td>1</td>
                <td>Jose</td>
                <td>Perez</td>
                <td>jose@gmail.com</td>
                <td>7894555</td>
                <td>calle 15 30 98 apto 2 bloque 8</td>
                <td>Docente</td>
            </tr>
        </tbody>
    </table>
    <a id="btnCalificar" class="btn btn-primary" href="{{url_for('crearUsuario')}}" role="button">Crear Usuario</a>
</div>
<!-- END TABLA -->