<!-- TABLA ACTIVIDADES -->
<div class="container" id="tabla-standart">
    <h1>LISTADO Y ADMINISTRADOR DE ACTIVIDADES</h1>

    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Id o nombre de la materia" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </nav>

    <a class="navbar-brand" href="#" style="font-size: 18px;">Descargue listado actividades</a>

    <table class="table table-striped" style="margin-top:2%">
        <thead>
        <tr>                
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Id Materia</th>
            <th scope="col">Materia</th>
            <th scope="col">Id Actividad</th>
            <th scope="col">Actividad</th>
        </tr>
        </thead>
        <tbody id="datavendedor">
            <tr>           
                <th scope='row'>
                    <a id="btnCalificar" class="btn btn-success" href="{{url_for('editarActiv')}}" role="button">EDITAR</a></th>
                <td><button type='button' class='btn btn-danger' >ELIMINAR</button></td>   
                <td>00001A</td>
                <td>Geografia</td>
                <td>AG001</td>
                <td>Ubicar las coordenadas dadas dentro de un mapa</td>
            </tr>
        </tbody>
    </table>
    <a id="btnCalificar" class="btn btn-primary" href="{{url_for('crearActiv')}}" role="button">Agregar Actividad</a>
</div>
<!-- END TABLA -->