<!-- TABLA MATERIAS -->
<div class="container" id="tabla-standart">
    <h1>LISTADO Y ADMINISTRADOR DE MATERIAS</h1>

    <a class="navbar-brand" href="#" style="font-size: 18px;">Descargue listado de materias          

    </a>

    <table class="table table-striped" style="margin-top:2%">
        <thead>
        <tr>                
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Id Materia</th>
            <th scope="col">Materia</th>
        </tr>
        </thead>
        <tbody id="datavendedor">
            {% if listaMaterias %}
                {% for item in listaMaterias %}
            <tr>           
                <th scope='row'>
                    <a id="btnCalificar" class="btn btn-success" href="{{url_for('editarMateria', idMateria=item.idMateria)}}" role="button">EDITAR</a></th>
                    <td><a id="btnCalificar" class="btn btn-danger" href="{{url_for('eliminarMateria', idMateria=item.idMateria)}}" role="button">ELIMINAR</a></td>   
                <td>{{ item.idMateria }}</td>
                <td>{{ item.nombreMateria }}</td>
            </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <a id="btnCalificar" class="btn btn-primary" href="{{url_for('crearMateria')}}" role="button">Crear Materia</a>
</div>
<!-- END TABLA -->