<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links Bootstrap - CSS - googleapis-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">

    <!-- EXTRAS -->
      {% block extras %}
      {% endblock %}

    <title>{% block title %}{% endblock %}</title>
   
</head>
<body>
   <!--HEADER-->
      {% include 'header.html' %}
    <!-- END HEADER-->

    <!--MENU-->
      {% include 'administrador/menu_admin.html' %}
    <!-- END MENU -->

         <!-- CONTENT -->
            {% block contenido %}
            {% endblock %}
         <!-- END CONTENT -->
      </div>
   </div>

   <!--FOOTER-->
      {% include 'footer.html' %}
   <!--END FOOTER-->

   <!--SCRIPTS-->
      {% block Scripts %}
      {% endblock %}
   <!--END SCRIPTS-->
</body>
</html>