<footer class="container-fluid bg-grey py-5">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 ">
                   <div class="logo-part">
                      <img src="{{ url_for('static', filename='img/logo.jpg') }}" class="w-50 logo-footer">
                   </div>
                </div>
                <div class="col-md-6 px-4">
                   <h6>Contactenos</h6>
                   <div id="e-mail">
                    <img src="{{ url_for('static', filename='img/email-white.png') }}" style=" width: 25px;" id="mail-logo">
                    <a href="#" id="soporte">
                      <p>Buzon de soporte</p>
                    </a>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <br>
       <div id="line-up" class="row">
           <p>Grupo 8 App Gestion de Notas <br> Ciclo 3 Desarrollo de Software UniNorte</p>
           <div id="icons">
              <p>Encuentranos en  </p>
              <div class="social">
                 <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                 <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                 <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </div>
           </div>
       </div>
    </div>
</footer>
