<div class="header">
    <div>
       <img src="{{ url_for('static', filename='img/logo.jpg') }}" id="icon-logo">
    </div>
    <div id="sesion">
      {% if g.user %}
         {% if g.user.rol_id == 1 %}
            <span>Docente</span>
            {% endif %}
         {% if g.user.rol_id == 2 %}
            <span>Estudiante</span>
            {% endif %}
         {% if g.user.rol_id == 3 %}
            <span>Administrador</span>
            {% endif %}
       <img src="https://img.icons8.com/material/24/000000/user--v1.png" class="icon-header"/>
           <span>{{ g.user.nombreUsuario }}</span>
       {% endif %}
       <a href="{{ url_for('logout') }}"><img src="https://img.icons8.com/material/24/000000/shutdown--v1.png"  class="icon-header"/></a>
    </div>
  </div>
  