<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="container">

        <div class="card card-container" id="form-login">
            <h3>Gestor de Notas</h3>
            <img id="profile-img" class="profile-img-card" src="{{url_for('static', filename='img/logo.jpg')}}"/>
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" action="{{ url_for('login') }}" method="POST" novalidate>
                {{ form.csrf_token }}

                {{ form.e_mail(placeholder='Correo', class='form-control', autofocus=True) }}
                {% if form.e_mail.errors %}
                <span style="font-size: 14px; color: red;">{{ mensajeError }}</span>
                {% endif %}
                {{ form.password(placeholder='Contraseña', class='form-control') }}
                {% if form.password.errors %}
                <span style="font-size: 14px; color: red;">{{ mensajeError }}</span>
                {% endif %}
                
                <div id="remember" class="checkbox">
                    <label>
                        {{ form.checkbox }} Recordarme
                    </label>
                </div>
                {{ form.btnSubmit(value='Ingresar', class='btn btn-lg btn-primary btn-block btn-signin') }}
            </form>
            <br>
            {% if ErrorValidacion %}
            <div class="form-group">
               <span style="font-size: 14px; color: red;">{{ ErrorValidacion }}</span>
            </div>
            {% endif %}
            <a href="#" class="forgot-password">
                ¿Ha olvidado su contraseña?
            </a>
        </div>
    </div>
</body>
</html>