{% extends 'base.html' %}

    {% block extras %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
    crossorigin="anonymous">
    {% endblock %}
    {% block title %}
    Registro Actividad Docente
<!--    {% endblock %}
    {% block menu %}
    {% include 'docente/menu_docente.html' %}
    {% endblock %}-->

        <!-- CONTENT -->
        {% block contenido %}
        <h1>Docente</h1>
        <br>
        <br>
        <h2>Creación Actividad</h2>
        <br>
        <form id="formCreacionActividad" action="">
            <div class="form-group">
                <label for="selectIdMateria">ID Materia:</label>
                <select class="form-control" id="selectIdMateria">
                    <option>Materia #1</option>
                    <option>Materia #2</option>
                    <option>Materia #3</option>
                    <option>Materia #4</option>
                    <option>Materia #5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Nueva Actividad:</label>
                <textarea class="form-control" id="textareaNuevaActividad" rows="4"></textarea>
            </div>
            <div>
                <div class="form-group">
                    <button type="button" class="btn btn-info">Crear Nueva Actividad </button>
               <!--El docente al crear una nueva actividad, JavaScript tiene que asignarle un numero a esa actividad, crear un metodo js -->
                </div>
            </div>
        </form> 
        {% endblock %}
        <!-- END CONTENT -->

    <!--SCRIPTS-->
    {% block Scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    {% endblock %}
 <!--END SCRIPTS-->