<div class="container-fluid">
    <div class="row">
       <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse pt-5">
          <div class="sidebar-sticky ">
             <ul class="nav flex-column">
                   <li class="nav-item m-1">
                      <a class="nav-link active border border-primary" href="{{ url_for('estudianteMaterias') }}">Mis Materias</a>
                   </li>
                   <li class="nav-item m-1">
                      <a class="nav-link active border border-primary" href="{{ url_for('estudianteInfoPersonal') }}">Información Personal (Nombre estudiante)</a>
                   </li>
                   <li class="nav-item m-1">
                      <a class="nav-link active border border-primary" href="{{ url_for('estudianteNotasOverall') }}">Resúmen Notas</a>
                   </li>
             </ul>
          </div>
       </nav>
    