<!-- TABLA INFO PERSONAL -->
<div class="container" style="padding-top: 1.5%;">
    <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h5 class="card-title">Informacion Personal</h5>
        <div class="form-group">
            <label for="Rol" class="col-form-label">Rol:</label>
            <input title="" type="text" class="form-control" id="Rol" readonly>
        </div>   
        <div class="form-group">
            <label for="Id" class="col-form-label">Id:</label>
            <input title="" type="text" class="form-control" id="Id" readonly>
        </div>                      
        <div class="form-group">
            <label for="firstname" class="col-form-label">Nombre:</label>
            <input title="El nombre no puede superar 15 caracteres" type="text" class="form-control" id="firstname" onchange="validar()" onfocus="validar()" readonly> 
        </div>

        <div class="form-group">
            <label for="lastname" class="col-form-label">Apellido:</label>
            <input type="text" class="form-control" id="lastname" onchange="validar()" onfocus="validar()" readonly>
        </div>

        <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="email" onchange="validar()" onfocus="validar()" readonly>
        </div>                        

        <div class="form-group">
            <label for="telephone" class="col-form-label">Telefono:</label>
            <input type="text" class="form-control" id="telephone" onchange="validar()" onfocus="validar()" readonly>
        </div>

        <div class="form-group">
            <label for="address" class="col-form-label">Dirección:</label>
            <input type="text" class="form-control" id="address" onchange="validar()" onfocus="validar()" readonly>
        </div>
        </div>
    </div>
</div>
<!-- FIN TABLA INFO PERSONAL -->